@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 34, 34, 34; /* Dark brown for text */
  --background-start-rgb: 255, 248, 220; /* Light beige for background start */
  --background-end-rgb: 255, 235, 205; /* Light peach for background end */
  --accent-color: 210, 105, 30; /* Chocolate for accents */
  --secondary-color: 244, 164, 96; /* Sandy brown for secondary elements */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* White for text */
    --background-start-rgb: 34, 34, 34; /* Dark brown for background start */
    --background-end-rgb: 51, 51, 51; /* Darker brown for background end */
    --accent-color: 210, 105, 30; /* Chocolate for accents */
    --secondary-color: 244, 164, 96; /* Sandy brown for secondary elements */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: rgb(var(--accent-color));
}

button {
  background-color: rgb(var(--accent-color));
  color: rgb(var(--foreground-rgb));
}

.header {
  background-color: rgb(var(--secondary-color));
  color: rgb(var(--foreground-rgb));
}

.footer {
  background-color: rgb(var(--secondary-color));
  color: rgb(var(--foreground-rgb));
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  animation: slideInFromBottom 0.3s ease-out;
}

.input-glow {
  box-shadow: 0 0 3px rgb(var(--accent-color)), 0 0 5px rgb(var(--accent-color));
}

.input-glow:hover {
  box-shadow: 0 0 5px rgb(var(--secondary-color)),
    0 0 10px rgb(var(--secondary-color));
}

.message-glow {
  box-shadow: 0 0 3px rgb(var(--accent-color)), 0 0 5px rgb(var(--accent-color));
}

.message-glow:hover {
  box-shadow: 0 0 3px rgb(var(--secondary-color)),
    0 0 4px rgb(var(--secondary-color));
}

@keyframes glimmer {
  0% {
    background-position: -200px;
  }
  100% {
    background-position: calc(200px + 100%);
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.shimmer {
  animation: glimmer 2s infinite linear;
  background: rgb(82, 82, 91);
  background: linear-gradient(
    to right,
    darkgray 10%,
    rgb(130, 129, 129) 50%,
    rgba(124, 123, 123, 0.816) 90%
  );
  background-size: 200px 100%;
  background-repeat: no-repeat;
  /* color: transparent; */
}

@keyframes pulse {
  0%,
  100% {
    color: white;
  }
  50% {
    color: #f59e0b; /* Tailwind's yellow-500 */
  }
}

.animate-pulse-once {
  animation: pulse 5s cubic-bezier(0, 0, 0.2, 1) 1;
}

.scrollbar::-webkit-scrollbar {
  width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #2d3748; /* Tailwind's bg-gray-700 */
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Tailwind's bg-gray-600 */
  border-radius: 10px;
  border: 3px solid #2d3748; /* Tailwind's bg-gray-700 */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096; /* Tailwind's bg-gray-500 */
}
